/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f); /* Initial gradient background */
    /* Background color for the entire page */
    animation: gradientAnimation 10s infinite alternate; /* Animation properties */
    transition: background 2s ease-in-out; /* Smooth transition for background change */
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%; /* Start position of the gradient */
    }
    100% {
        background-position: 100% 50%; /* End position of the gradient */
    }
}


.container {
    max-width: 75%;
    /* Maximum width of the container */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh; /* Ensure full height of viewport */
}

/* Header styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px; /* Increase the font size */
    color: #333;
    /* Header text color */
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; /* Outline effect */
}

/* Controls section styles */
.controls {
    margin-top: 40px; /* Increase the margin-bottom for more spacing */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto; /* or overflow-x: scroll; */
    background-color: #f9f9f9; /* Background color for the controls section */
    padding: 20px; /* Add padding for better separation */
    border-radius: 10px; /* Add some border-radius for a rounded look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.controls label,
.controls select,
.controls input[type="number"],
.controls input[type="range"],
.controls button,
.algorithm-btn {
    margin-right: 10px; /* Add space between controls */
}

.controls select,
.controls input[type="number"],
.controls input[type="range"],
.controls button,
.algorithm-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid dodgerblue;
    /* Border color for input elements */
    border-radius: 5px;
    background-color: #fff;
    /* Background color for input elements */
    color: dodgerblue;
    /* Text color for input elements */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.controls input[type="range"] {
    /* Update range input style */
    appearance: none;
    width: 100%; /* Ensure full width */
    max-width: 500px; /* Set a maximum width if necessary */
    height: 20px;
    border-radius: 10px;
    outline: none;
    margin: 0;
    padding: 0;
    margin-right: 1%;
}

.controls input[type="range"]::-webkit-slider-thumb {
    /* Update slider thumb style for WebKit browsers */
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
}

.controls input[type="range"]::-moz-range-thumb {
    /* Update slider thumb style for Firefox */
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
}

.controls select:focus,
.controls input[type="number"]:focus,
.controls input[type="range"]:focus,
.controls button:focus,
.algorithm-btn:focus {
    outline: none;
    border-color: royalblue;
    /* Border color when element is focused */
}

.controls button:hover,
.algorithm-btn:hover {
    background-color: royalblue;
    /* Background color on button hover */
    color: #fff;
    /* Text color on button hover */
}

.controls button:disabled {
    background-color: lightgray;
    color: gray;
    border-color: lightgray;
    cursor: not-allowed;
}

/* Active algorithm button style */
.algorithm-btn.active {
    background-color: dodgerblue;
    color: #fff;
    border-color: royalblue;
}

/* Bars container styles */
.bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    /* Height of the bars container */
}

.bar {
    width: 10px;
    /* Width of each bar */
    margin: 0 1px;
    background-color: dodgerblue;
    /* Default color of bars */
    transition: height 0.2s, background-color 0.3s, box-shadow 0.3s; /* Include box-shadow in the transition */
    box-shadow: 0 0 3px 1px white; /* White outline */
}

.bar.highlight {
    background-color: red; /* Highlight color */
}
