* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b, #ff7e5f);
    animation: gradientAnimation 10s infinite alternate;
    transition: background 2s ease-in-out;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.container {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    color: #333;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.controls {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls label,
.controls select,
.controls input[type="number"],
.controls input[type="range"],
.controls button,
.algorithm-btn {
    margin-right: 10px;
}

.controls select,
.controls input[type="number"],
.controls input[type="range"],
.controls button,
.algorithm-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    background-color: #fff;
    color: dodgerblue;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.controls input[type="range"] {
    appearance: none;
    width: 100%;
    max-width: 500px;
    height: 20px;
    border-radius: 10px;
    outline: none;
    margin: 0;
    padding: 0;
    margin-right: 1%;
}

.controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
}

.controls input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: dodgerblue;
    border-radius: 50%;
    cursor: pointer;
}

.controls select:focus,
.controls input[type="number"]:focus,
.controls input[type="range"]:focus,
.controls button:focus,
.algorithm-btn:focus {
    outline: none;
    border-color: royalblue;
}

.controls button:hover,
.algorithm-btn:hover {
    background-color: royalblue;
    color: #fff;
}

.controls button:disabled {
    background-color: lightgray;
    color: gray;
    border-color: lightgray;
    cursor: not-allowed;
}

.algorithm-btn.active {
    background-color: dodgerblue;
    color: #fff;
    border-color: royalblue;
}

.bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
}

.bar {
    width: 10px;
    margin: 0 1px;
    background-color: dodgerblue;
    transition: height 0.2s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 3px 1px white;
}

.bar.highlight {
    background-color: red;
}
